body{
    font-family: 'Jost', sans-serif;
}
.mybackground {
    background-color: #E9EDF3 !important;
    /* transition: 1.5s ease-in; */
  }
.mainbackground{
    background-color: #E9EDF3;
}
.mybackground.scrolled { 
    background-color: white !important;
  }
.nav-link{
      font-size: 18px ;
      font-weight: 500;
      color: black ;
}
.nav-item:hover .nav-link{ 
    color:#7153d9 ;
}
.main-subtitle{
    font-size: 24px;
    color: #7153d9;
    font-weight: 500;
}
.main-title{
    font-size: 72px ;
    font-weight: 500;
}
.main-p{
    font-size: 24px;
    color: #54545f;
    font-weight: 400;
}
.main-btn{
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    padding: 20px 55px;
    text-decoration: none ;
    color: white;
    border-radius: 35px;
}
.feature-icon{
    background-color: #f2f5fb;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    line-height: 97px;
}